/* Game Map Styles */
body {
    margin: 0;
    padding: 0;
    background-size: cover;
}

.main {
    width: 1400px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#map {
    width: 1400px;
    height: 600px;
    background: url('https://i.ytimg.com/vi/5hFdt39Brus/maxresdefault.jpg') center center no-repeat;
    background-size: cover;
    position: relative;

}
/* Start Game Box Styles */
#beginBox {
    width: 1400px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    z-index: 1;
}
h1 {
    text-align: center;
    font-family: 'Honk', system-ui;
    font-size: 72px; 
    margin-top: 10px;
}

/* Start Button Styles */
#begin {
    width: 200px;
    height: 50px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    text-shadow: 1px 1px 1px rgb(114, 112, 112);
    cursor: pointer;
}
#scoreBoard {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: -10px;
}

#score {
    flex: 1;
    text-align: lefe;
}

#Bestscore {
    text-align: right;
    position: relative
}
#MarioImage {
    position: absolute;
    top: -90px; 
    right: 20px; 
    width: 100px; 
    height: 100px; 
}
#BossImage {
    position: absolute;
    top: -100px; 
    left:  20px; 
    width: 100px; 
    height: 100px; 
}
.music {
    position: absolute;
    top: 0;
    left: 8%;
    transform: translateX(-50%);
}
#cloudsImage {
    position: absolute;
    top: 50%;
    right: -220px;
    transform: translate(0, -50%);
    width: 200px;
    height: 200px;
}
#cloudsImage2 {
    position: absolute;
    top: 50%;
    left: -220px;
    transform: translate(0, -50%);
    width: 200px;
    height: 200px;
}